@tailwind base;
@tailwind components;
@tailwind utilities;

* body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

/* Chat area specific styles */
.chatarea {
  height: auto;
  min-height: 953px;
}

/* .dashboard {
  height: 100%;
} */

/* .messages {
  height: auto;
  height: auto;
  min-height: 100vh;
  margin-right: 2rem;
} */

/* form {
  height: 50%;
} */

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  bottom: 0;
  width: 100%;
  position: fixed;
}

/* Navbar */
nav {
  background-color: #191a1a;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav button {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
}

nav button:hover {
  color: goldenrod;
  transform: scale(1.1);
}

#navLinks {
  display: flex;
  gap: 1rem;
}

#navLinks a:hover {
  color: goldenrod;
  transform: scale(1.1);
}

/* Sidebar Drawer */
.ant-drawer-content {
  background-color: #202222 !important;
}

.anticon-close {
  color: #fff !important;
}

.anticon-close:hover {
  color: goldenrod !important;
  transform: scale(1.1) !important;
}

.ant-drawer-body {
  padding: 0 !important;
  margin: 0 !important;
}

/* Markdown */
.markdown ul,
.markdown ol,
.markdown li {
  margin-bottom: 1em;
  list-style: circle;
}

.markdown li {
  margin-left: 2em;
}

/*Loading Page */

.loader {
  width: 100px;
  height: 75px;
  margin: 0 auto;
  background: #fff;
  position: relative;
  border-radius: 100%;
}
.loader:before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  border: 15px solid transparent;
  border-top: 25px solid #fff;
  transform: rotate(45deg);
  top: 50px;
  left: -15px;
}

.loader:after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #157f3d;
  box-shadow: 20px 0 #157f3d, -20px 0 #157f3d;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: #073619;
    box-shadow: 20px 0 #073619, -20px 0 #157f3d;
  }
  50% {
    background-color: #157f3d;
    box-shadow: 20px 0 #073619, -20px 0 #073619;
  }
  100% {
    background-color: #073619;
    box-shadow: 20px 0 #157f3d, -20px 0 #073619;
  }
}
